body {
    margin: 0;
    font-family: 'Abhaya Libre';
    height: 100vh;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.linha {
    border-top: 3px solid #FFC2CB;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 25px;
    color: #FFC2CB !important;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo form {
    display: flex;
    flex-direction: column;
}

.conteudo label {
    font-size: 25px;
    margin-bottom: 5px;
}

.conteudo input {
    border-radius: 10px;
    border-color: #FFC2CB;
    width: 30em;
    height: 2.7em;
    border-width: 2px;
    margin-bottom: 1em;
}

.conteudo select {
    border-radius: 10px;
    border-color: #FFC2CB;
    width: 30em;
    height: 2.9em;
    border-width: 2px;
    margin-bottom: 1em;
}

.conteudo textarea {
    border-radius: 10px;
    border-color: #FFC2CB;
    width: 30em;
    min-height: 5em;
    border-width: 2px;
    margin-bottom: 2em;
    resize: none;
    overflow-y: hidden;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao button {
    border-radius: 10px;
    border-color: #FFC2CB;
    background-color: white;
    width: 10em;
    height: 3.5em;
    border-width: 2px;
    margin: 0em 1em 2em;
}




.aviso {
    background-color: #FFDBE0;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.comunicado {
    font-size: 15px;
}