body {
    margin: 0;
    font-family: 'Abhaya Libre';
}

.aviso {
    background-color: #FFDBE0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.comunicado {
    font-size: 15px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

.logo img {
    width: 160px;
    height: auto; 
}

.opcoes {
    display: flex;
    align-items: center;
}

.opcoes a {
    font-size: 25px;
    margin: 15px 20px;
    color: black;
    text-decoration: none;
}

.acoes {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.acoes img {
    margin: 0px 10px;
    width: 25px;
    height: auto; 
}

.linha {
    border-top: 3px solid #FFC2CB;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 25px;
    color: #FFC2CB !important;
}

.conteudo {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens mudem de linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    max-width: 1000px; /* Define uma largura máxima para garantir que os itens não se espalhem indefinidamente */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.box {
    flex: 0 0 calc(33.33% - 60px); /* Define a largura dos itens para ocupar cerca de um terço da largura total com espaço entre eles */
    margin: 0 30px 30px; /* Espaçamento entre os itens */
}

.box img {
    width: 15em;
    height: 15em;
    margin-bottom: 15px;
}

.nome, .valor {
    background-color: rgba(255, 255, 255, 80%);
    font-size: 20px;
}

.linhaP {
    border-top: 2px solid #FFC2CB;
    width: 25%;
    margin: 5px;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 1em 13em;
}

.r1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.r1 img {
    width: 180px;
    height: auto;
}

.icones {
    display: flex;
    flex-direction: row;
}

.icones img {
    margin: 0px 10px;
    width: 2em;
    height: auto;
    padding: 0px 0px;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC2CB;
    width: 3em;
    height: 3em;
    border-radius: 50px 50px;
    margin: 25px 4px 30px;
}

.confeitaria {
    font-size: 20px;
}

.rtitulo {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px 15px;
}

.ropcoes {
    font-size: 20px;
    margin: 0px 0px 15px;
}

.r3titulo {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px 10px;
}

.rcombo {
    padding-bottom: 5px;
}

.subinfo {
    font-size: 20px;
    font-weight: bold;
}

.info {
    font-size: 20px;
}

.btn-custom{
    border-color: #FFB6C1;
    background: #FFFFFF;
    padding: 7px;
    border-radius: 50px;
    width: 120px;
    height: 45px;
}
.btn-custom:hover{
    color: #FFFFFF;
    background: #FFE7EA;
    border-color: #FFB6C1
}

a:link{

background-color: transparent;
text-decoration: none;
}
a:visited {
color:#FFB6C1;
background-color: transparent;
text-decoration:none
}

a:hover{
color:gray;
background-color:transparent;

}