*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 7%;
    left: 50%;
}

hr {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #BBDEEA;
    top: 11%;
    transform: translateY(-50%);
    border: none;
  }

  h1{
    text-align: center;
    margin-right: 27%;
    margin-left: 26%;
    margin-top: 170px;
}

.container{
    margin-top:2%;
    margin-left: 42%;
    font-size: 25px;
    
}

.codigo{
    padding: 1.5%;
    background-color: #e4f2f7;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;

}

.nome{
    padding: 1.5%;
    background-color: #e4f2f7;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;

}

.preco{
    padding: 1.5%;
    background-color: #e4f2f7;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;

}

.descricao{
    padding: 1.5%;
    background-color: #e4f2f7;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;
    padding-top: 7%;

}

  .link {
    position: absolute;
    background-color: #d7ebf2;
    text-align: center;
    padding: 0%;
    
    width: 100%;
    height: 20px;
    top:90%;
}

button{
    border: none;
    margin-left: 0.5%;
    padding: 2%;
    background-color:#bbdeea ;
    border-radius: 10px;
    width: 9%;
    
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}


