body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 7%;
    left: 50%;
}
  
  .linha {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #BBDEEA;
    top: 11%;
    transform: translateY(-50%);
    border: none;
  }

h1{
    text-align: center;
    margin-right: 27%;
    margin-left: 25.7%;
    margin-top: 160px;
}

.lucro {
    background-color: #d7ebf2;
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
    transform: translate(-50%, -50%);
    padding: 7%;
    padding-top: 22%;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.imagem-lucro{
    width: 300px; 
    left: 50%;
    top: 200px;
    height: auto;
    position: absolute;
    border-top-left-radius: 20px;
    border: 2px solid #000;
    border-radius: 100px;
}

.lucro .h3{
    text-align: center;
    font-size: 15;
    padding: 10px;
    margin-left: -250%;
    width: 550%;
    background-color:  white;
}


.estoque {
    background-color: #d7ebf2;
    position: absolute;
    margin-top: 20%;
    margin-left: 37%;
    transform: translate(-50%, -50%);
    padding: 7%;
    padding-top: 22%;
    border-radius: 10px;
    color: black;
   
}

.imagem-estoque{
    width: 90%; 
    margin-top: 160px;
    left: 50%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 20px;
    border: 2px solid #000;
    border-radius: 100px;
}


.estoque .h2{
    text-align: center;
    font-size: 15;
    padding: 10px;
    margin-top: -0%;
    margin-left: -175%;
    width: 425%;
    background-color:  white;
}


.mais-vendidos {
    background-color: #d7ebf2;
    position: absolute;
    margin-top: 20%;
    margin-left: 60%;
    transform: translate(-45%, -50%);
    padding: 7.4%;
    padding-top: 23.5%;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.imagem-doces{
    width: 90%; 
    margin-top: 160px;
    left: 50%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 20px;
    border: 2px solid #000;
    border-radius: 100px; 

}


.mais-vendidos .h1{
    text-align: center;
    font-size: 20;
    padding: 10px;
    padding-top: 10px;
    margin-top: -25%;
    margin-left: -120%;
    width: 330%;
    background-color:  white;
}

.Adicionar {
    background-color: #d7ebf2;
    position: absolute;
    margin-top: 20%;
    margin-left: 85%;
    transform: translate(-50%, -50%);
    padding: 8%;
    padding-top: 22%;
    border-radius: 10px;
    color: black;
}

.Adicionar .h3{
    text-align: center;
    font-size: 15;
    padding: 6.5px;
    margin-left: -240%;
    width: 550%;
    background-color:  white;
}

.imagem-docinhos{
    width: 90%; 
    margin-top: 160px;
    left: 50%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 20px;
    border: 2px solid #000;
    border-radius: 100px; 

}


.link {
    position: absolute;
    background-color: #d7ebf2;
    text-align: center;
    padding: 0%;
    
    width: 100%;
    height: 40px;
    top:100%;
}





a{
    text-decoration: none;
}

