body {
    margin: 0;
    font-family: 'Abhaya Libre';
}

.aviso {
    background-color: #FFDBE0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.comunicado {
    font-size: 15px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

.logo img {
    width: 160px;
    height: auto;
}

.opcoes {
    display: flex;
    align-items: center;
}

.opcoes a {
    font-size: 25px;
    margin: 15px 20px;
    color: black;
    text-decoration: none;
}

.acoes {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.acoes img {
    margin: 0px 10px;
    width: 25px;
    height: auto;
}

.linha {
    border-top: 3px solid #FFC2CB;
    width: 100%;
}