body {
    margin: 0;
    font-family: 'Abhaya Libre';
}

.aviso {
    background-color: #FFDBE0;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.avisoo {


        padding: 10px;
        display: flex;
        justify-content: center;
}

.comunicado {
    font-size: 15px;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 1em 13em;
}

.r1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.r1 img {
    width: 180px;
    height: auto;
}

.icones {
    display: flex;
    flex-direction: row;
}

.icones img {
    margin: 0px 10px;
    width: 2em;
    height: auto;
    padding: 0px 0px;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDBE0;
    width: 1em;
    height: 1em;
    border-radius: 50px 50px;
    margin: 25px 4px 30px;
}


.confeitaria {
    font-size: 20px;
}

.rtitulo {
color: #FF00FF
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px 15px;
}


.ropcoes {
    font-size: 20px;
    margin: 0px 0px 15px;
}

.r3titulo {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px 10px;
}

.rcombo {
    padding-bottom: 5px;
}

.subinfo {
    font-size: 20px;
    font-weight: bold;
}

.info {
    font-size: 20px;
}
